/.vscode
/copies
/backups
/cli/Cargo.lock
/cli/target
/cli/translation
/cli/output
/cli/.cargo
/cli/ruby-writer/backups
/cli/ruby-writer/output
/cli/ruby-writer/original
/cli/ruby-writer/translation
/cli/ruby-writer/node_modules
/cli/ruby-writer/bun.lockb
/gui/node_modules
/gui/bun.lockb
/gui/input.css
/gui/tailwind.config.js
/gui/src/dist
/gui/src-tauri/Cargo.lock
/gui/src-tauri/target
/img
/*.zip
/data
/js